<!DOCTYPE html>
<html>
<head>
    <title>{{ deployment_color | capitalize }} Deployment</title>
</head>
<body>
    <h1>{{ deployment_color | capitalize }} Environment</h1>
    <p>Server: {{ inventory_hostname }}</p>
</body>
</html>